{% extends "webview/layout/twig/layout.twig" %}
                                    
{% block title %}  Applications - Winjob  {% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ site_url("assets/css/bootstrap.min.css") }}">
    <link rel="stylesheet" href="{{ site_url("assets/css/font-awesome.min.css") }}">
    <link rel="stylesheet" href="{{ site_url("assets/css/fonts.css") }}">
    <link rel="stylesheet" href="{{ site_url("assets/css/header.css") }}">
    <link rel="stylesheet" href="{{ site_url("assets/css/croppic.css") }}">
    <link rel="stylesheet" href="{{ site_url("assets/css/footer.css") }}">
    <link rel="stylesheet" href="{{ site_url("assets/css/bootstrap-socil.css") }}">
    <link rel="stylesheet" href="{{ site_url("assets/css/normalize.css") }}">
    <link rel="stylesheet" href="{{ site_url("assets/css/style.css") }}">
    <link rel="stylesheet" href="{{ base_url("assets/css/pages/applications.css") }}">
{% endblock %}

{% block content %}
    <div class="application-wrapper clearfix">
        <div class="row"> 
            <div class="col-xs-12 main_job_titie">
              <b>  {{ job_type ~ " - " ~ job_title }}</b> 
            </div>
        </div>
         
        <div class="row">
			
			{% if display == "application" %}
				{{ include('webview/jobs/partials/job-process-header.twig', {'applications_active': 'active-link'}) }}
			{% endif %}
			
			
			{% if display == "decline"  %}
				{{ include('webview/jobs/partials/job-process-header.twig', {'declined_active': 'active-link'}) }}
			{% endif %}
		
			{% if display == "interview"  %}
				{{ include('webview/jobs/partials/job-process-header.twig', {'interviews_active': 'active-link'}) }}
			{% endif %}
			
			{% if display == "offered"  %}
				{{ include('webview/jobs/partials/job-process-header.twig', {'offered_active': 'active-link'}) }}
			{% endif %}
			
			{% if display == "hired"  %}
				{{ include('webview/jobs/partials/job-process-header.twig', {'hired_active': 'active-link'}) }}
			{% endif %}
			
			
			
			
        </div>
        
        {% if applications is not empty %}
            {% for app in applications %}
				{% set job =  app.bid %}	
				{% set chat_receiver_id      = job.fuser_id %}
				{% set username         = app.applicant.fname  ~ ' ' ~ app.applicant.lname %}
				
				{% if app.decline == '3'%}	
					 <div class="col-md-12 white-box candidate-list">
						<div class="row">
						
					
							<div class="decline" style="position: relative;float: right;padding-right: 10px;padding-top: 10px;">
									<div class="hire_decline">
									</div>  
							</div>
						
						
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-4">
										<div class="row">
											<div class="col-md-5">
												<div class="st_img">
													<img src="{{ site_url(app.applicant.pic) }}" width="64" height="64" >
												</div>
											</div>
											
											<div class="col-md-7">
												<div class="aplicant_identity">
													<label class="aplicant_name">
														<a href="{{ app.applicant.profile_url }}/{% if display == "decline" %}
																				declined
																			{% elseif display == "interview" %}
																				interview
																			{% elseif display == "offered" %}
																				offered
																			{% elseif display == "hired" %}
																				hired
																			{% else %}
																			
																			{% endif %}">{{ app.applicant.fname }} {{ app.applicant.lname }}</a>
													</label>
													<br/>
													
													<div>
														<i style="font-size: 14px;" class="fa fa-map-marker"></i>
														<b> {{ app.applicant.country }}</b>
													</div>
												</div>
											</div>
											
										</div>
									</div>
									
									<div class="col-md-5 text-center">
									
									
									{% if display == "hired"  %}	
									
										{% set employerStatus =  app.applicant.webuser.isactive %}
										{% set freelancer_job_hour =  app.freelancer_job_hour %}
										
										{% if job.job_type == 'hourly' %}
										
											{% set job_id     = job.job_id %}
											{% set fuser_id   = job.fuser_id %}
											{% set total_hour = 0 %}
											{% set text_job_total_hour = 'text_job_total_hour' %}

											{% if page == 'pasthire' %}
												{% set text_job_total_hour = 'text_job_total_hour_pasthire' %}
											{% endif %}
											
											{% if freelancer_job_hour[ job_id ] is defined and freelancer_job_hour[ job_id ][ fuser_id] is defined and freelancer_job_hour[ job_id ][ fuser_id]  > 0 %}
												{% set total_hour = freelancer_job_hour[job_id][fuser_id] %}
												{{ app_lang(text_job_total_hour)|format( total_hour )|raw }}
											{% else %}
												{{ app_lang(text_job_total_hour)|format( '0.00' )|raw }}
											{% endif %}

											<br/>

											{% if job.offer_bid_amount %}
												{% set amount   = job.offer_bid_amount %}
											{% else %}
												{% set amount   = job.bid_amount %}
											{% endif %}

											@ {{ app_lang('text_job_by_hours')|format(amount) }} = <b> ${{ amount * total_hour }}</b>

										
									{% else %}
										
												<span>
													
													<b>${{ job.fixedpay_amount }}</b>
													{{ app_lang('text_job_paid_of')|format(job.hired_on) }}
													
												</span>
											
									{% endif %}
										
										
										
										
										{% if app.applicant.jobstatus != 1 %}
													{% if employerStatus == 0 %}
													<br />
													<p style="margin:0 !important;">This contract has been hold</p>
													<hr>
													{% elseif app.applicant.bid_status == 2 %}
													<br />
													<p style="margin:0 !important;">This contract has been paused</p>
													<hr>
													{% endif %}
												{% endif %}
								{% endif %}
									</div>
									
									
									<div class="col-md-3 text-right msg-buttons">
										<div class = "row">
										
											<div class="right-align-button">
												<div class="right-align-button col-xs-4">
											
												
												 <div class="ms_hr_massage_butt">
													<div class="mystaff_msg_btnx hour_btn message_btn ">
														<input type="button" 
															   class="btn btn-primary form-btn _job_btn_message"
															   data-bid="{{ job.bid_id }}"
															   data-uid="{{ chat_receiver_id }}"
															   data-jid="{{ job.job_id }}"
															   data-title="{{ job_title }}"
															   data-uname="{{ username }}"
															   value="{{ app_lang('text_job_btn_message') }}">
													</div>
												</div>
                    
												
												
												</div>
											</div>

											<div class="right-align-button">
												{% if display == "offered"  %}
												<a class="btn btn-primary form-btn" href="{{ app.applicant.cancel_url }}">
													Cancel Offer
												</a>
												{% else %}
												
											
												
													{% if job.job_type == 'hourly' %}
														
																<a href="{{ base_url() }}jobs/work-diary?fmJob={{ app.bid_id_encoded }}">
																	<input type="button" class="btn btn-primary form-btn" value="{{ app_lang('text_job_btn_work_diary') }}" />
																</a>
														
													{% else %}
														{% if not freelancer %}
													
																<a href="{{ app.applicant.payment_url }}">
																	<input type="button" class="btn btn-primary form-btn my-btn"  value="{{ app_lang('text_job_btn_payment') }}"/>
																</a>
														
														{% endif %}
													{% endif %}
												
												
												
												{% endif %}
											</div>
											
											<div class="right-align-button">
												
													<div class="dropdown">
														<button style="margin-left: -14px;" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
														 <span class="caret"></span>
														</button>
														<ul class="dropdown-menu">
											
											
											{% if display == "hired"  %}	
												{% if job.job_type == "fixed" %}
												<li><a href="{{ app.applicant.payment_url }}">{{ app_lang('text_job_btn_op_give_milestone') }}</a></li>
												{% endif %}
												<li><a href="{{ app.applicant.payment_url }}">{{ app_lang('text_job_btn_op_view_contract') }}</a></li>
												<li><a href="freelancer/{{  app.applicant.webuser.webuser_username  }}">{{ app_lang('text_job_btn_op_view_profile') }}</a></li>
												<li><a href="end-contract?fmJob={{ app.bid_id_encoded }}">{{ app_lang('text_job_btn_op_end_contract') }}</a></li>
												
											{%  else %}
												<li><a href="{{ app.applicant.cancel_url }}">View Offer</a></li>
											{% endif %}
															
															
															
															
									
															
															
														</ul>
													</div>
												
											</div>
										
										</div>
										
									</div>
									
									
									
								</div>
							
								<div class = "row">
										<div class = "job_detais col-md-12">
										{% if display == "offered"  %}
										<a href="{{ app.applicant.cancel_url }}"> Job Details  </a> - <strong>{{job.hire_title}} </strong>
										{% else %}
										<a href="{{ app.applicant.payment_url }}"> Job Details  </a> - <strong>{{job.hire_title}} </strong>
										{% endif %}
										</div>
								</div>
							
							</div>
					   

					   </div>
					</div>
					
					  
				{% endif %}				
		

		{% if app.decline != '3'%}	
			
                <div class="col-md-12 white-box candidate-list">
                    <div class="row">
					
					{% if app.decline == '1'%}
					
						<div class="decline" style="position: relative;float: right;padding-right: 10px;padding-top: 10px;">
                                <div class="hire_decline">
								
								{% if app.bid_reject == '1'%}
								  Declined By You
								{% endif %}
								
								
								{% if app.bid_reject == '0'%}
								  Declined By Freelancer
								{% endif %}
								
								</div>  
                        </div>
					{% else %}	
                        <a class="col-md-12 text-right _js_decline_btn" href="#"
                           data-id="{{ app.bid.id }}"
                           data-job="{{ display_job_id}}">
                            <i class="fa fa-times"></i>
                        </a>
					{% endif %}
					
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="st_img">
                                        <img src="{{ site_url(app.applicant.pic) }}" width="64" height="64" >
                                    </div>
                                </div>
                                <div class="col-md-8 text-left">
                                    <div class="aplicant_identity">
                                        <label class="aplicant_name">
                                            <a href="{{ app.applicant.profile_url }}/{% if display == "decline" %}
																				declined
																			{% elseif display == "interview" %}
																				interview
																			{% elseif display == "offered" %}
																				offered
																			{% elseif display == "hired" %}
																				hired
																			{% else %}
																			
																			{% endif %}">{{ app.applicant.fname }} {{ app.applicant.lname }}</a>
                                        </label>
                                        <br/>
                                        <span><b>{{ app.applicant.tagline }}</b></span>
                                    </div>
                                    <div class="row margin-top-2">
                                        <div class="col-md-2" style="font-size: 15px;font-weight: bold;">
                                            <b>${{ app.bid.bid_amount|number_format(2) }}
                                                {% if app.job.get_jobtype() == "hourly" %}
                                                    <span class="cc_normal_txt">/hr</span>
                                                {% endif %}
                                            </b>
                                        </div>

                                        <div class="col-md-3">

                                            <div class="review_ratting text-center">
                                                {% if app.applicant.totalscore != 0 and app.applicant.rating_feedback != 0 %}
                                                    <span class="rating-badge">{{ app.applicant.rating|number_format(1, '.', '') }}</span>
                                                    <div title="Rated {{ app.applicant.rating }} out of 5" class="star-rating star-rating-custom"
                                                         itemtype="http://schema.org/Rating"
                                                         itemscope=""
                                                         itemprop="reviewRating">
                                                        <span style="width:{{ app.applicant.rating_feedback }}% ; margin-top:0px;">
                                                            <strong itemprop="ratingValue">{{ app.applicant.rating }}</strong> out of 5
                                                        </span>
                                                    </div>
                                                {% else %}
                                                    <span class="rating-badge">0.0</span>
                                                    <div title="Rated 0 out of 5" class="star-rating" itemtype="http://schema.org/Rating" itemscope="" itemprop="reviewRating" style="left:0;height: 1.2em; margin-top:px;">
                                                        <span style="width:0;margin-top:-5px;">
                                                            <strong itemprop="ratingValue">0</strong> out of 5
                                                        </span>
                                                    </div>
                                                {% endif %}
                                            </div>

                                        </div>

                                        <div class="col-md-2 text-right"  style="font-size:16px;">
                                            <b>
                                                {% if app.applicant.total_work %}
                                                   {{ app.applicant.total_work }}<span class='cc_normal_txt'>hrs</span>
                                                {% else %}
                                                    0.00 <span class='cc_normal_txt'>hrs</span>
                                                {% endif %}
                                              </b>

                                        </div>

                                        <div class="col-md-2 text-right" style="font-size:16px;">
                                            <b>{{ app.applicant.ended_jobs }}</b>jobs
                                        </div>

                                        <div class="col-md-3 text-right">
                                            <i style="font-size: 15px;" class="fa fa-map-marker"></i>
                                            <b> {{ app.applicant.country }}</b>
                                        </div>
                                    </div>

                                    <div class="row margin-top-1">
                                        <div class="col-md-12 text-justify">
                                            <div class="hire_cover_letter">
                                              <span>{{ app.bid.cover_latter }}</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row margin-top-1">
                                        <div class="col-md-1">
                                            <span class="gray-text" style="font-size:14px;">Skills</span></div>
                                        <div class="col-md-11 text-left skills">

                                            <div class="user_skills">
                                                {% for skill in app.applicant.skills %}
                                                    <span>{{ skill.skill_name }}</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2 margin-top-5 text-right msg-buttons">
                                    <div class="ms_hr_massage_butt ms_hr_massage_butt--applications">
                                        <div class="mystaff_msg_btnx hour_btn message_btn ">
									
										<a class="btn btn-primary form-btn" href="{{ app.applicant.profile_url }}/{% if display == "decline" %}
																				declined
																			{% elseif display == "interview" %}
																				interview
																			{% elseif display == "offered" %}
																				offered
																			{% elseif display == "hired" %}
																				hired
																			{% else %}
																			
																			{% endif %}">
											Message
										</a>
										
                                        </div>
                                    </div>

                                    <div class="hire_me_btn">
                                        <a class="btn btn-primary form-btn" href="{{ app.applicant.hire_url }}">
                                            Hire Me
                                        </a>
                                    </div>
                                </div>
								
								
								
                            </div>
                        </div>
                   

				   </div>
                </div>
				{% endif %}			
            {% endfor %}

        {% else %} 
				
				
			{% if display == "application" %}
				 <p class = "no-applicant">No application yet.</p>
			{% endif %}
			
			
			{% if display == "decline"  %}
				<p class = "no-applicant">No Decline yet.</p>
			{% endif %}
		
			{% if display == "interview"  %}
				<p class = "no-applicant">No interview yet.</p>
			{% endif %}
			
			{% if display == "offered"  %}
				<p class = "no-applicant"> No Offer yet.</p>
			{% endif %}
			
			{% if display == "hired"  %}
				<p class = "no-applicant">No hired yet.</p>
			{% endif %}
	
	
           
        {% endif %}
        
    </div>

    {{ include('webview/modals/message-conversion-modal.twig') }}
{% endblock %}

{% block js %}
    
    {# this variable defines the asset/modular/pages file to load #}
    <script> var page = 'applications'; </script>
    
    <script data-main="{{ app_modular_js("winjob") }}" src="{{ app_modular_js("lib/require.dev.js") }}"></script>
    <script src="{{ site_url("assets/js/vendor/modernizr-2.8.3.min.js") }}"></script>
    
{% endblock %}