{% extends "webview/layout/twig/layout.twig" %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ base_url("assets/css/pages/contract.css") }}">
{% endblock %}

{% block content %}
    
    {% set job_id_encoded   = base64_encode( job_status.job_id ) %}
    {% set fuser_id_encoded = base64_encode( job_status.fuser_id ) %}
    
    <section id="big_header" class="contract-section">
        <div class="container">
            <div class="row ">
                <div style="border: 1px solid #ccc;border-radius: 4px 4px 0 0px;margin: 0;" class="col-md-9 white-box black-box">
                    <div class="row">
                        <div class="date_head">
                            <div class="col-md-6">{{ app_lang('text_job_since')|format( app_date( job_status.start_date, ' M j, Y ') ) }}</div>
                            <div class="col-md-6">
                                <div class="main_id">
                                    <span>ID {{ job_status.contact_id }} </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="row">
                                <div style="margin-left: 20px;" class="col-md-4 col-md-offset-1 text-left">
                                    <div class="st_img hourly_client_view_st_img">
                                        <img src="{{ app_user_img( job_status.webuser_picture ) }}" width="64" height="64" />
                                    </div>
                                </div>
                                <div style="margin-left: -24px;" class="col-md-7 text-left">
                                    <h5 style="margin-top: -4px;" class="free_name">{{ job_status.webuser_fname }} {{ job_status.webuser_lname }}</label>
                                        <br> <p class="free_name">{{ character_limiter(job_status.webuser_company, 68, '...') }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 text-center gray-text">
                            <div style="margin-top: -8px;" class="status_bar">
                                {% if job_status.jobstatus == 1 %}
                                    <label class="gray-text">{{ app_lang('text_job_status_state')|format(app_lang('text_job_state_ended')) }}</label>
                                {% else %}
                                    <label class="gray-text">{{ app_lang('text_job_status_state')|format(app_lang('text_job_state_actived')) }}</label>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-3 col-md-offset-1">
                            <div class="msg_btnx hour_btn">
                                <input type="button" class="btn-primary transparent-btn big_mass_button _job_btn_message" 
                                       value="{{ app_lang('text_job_btn_message') }}" 
                                       data-bid="{{ job_status.bid_id }}"
                                       data-uid="{{ job_status.fuser_id }}"
                                       data-jid="{{ job_status.job_id }}" 
                                       />
                            </div>
                        </div>
                        
                        <div class="col-md-12">
                            <div class="job_title client_job_title">
                                <span class="clint_view_j-title"> 
                                    {% if job_status.hire_title is empty %}
                                       {% set job_title = job_status.title %}
                                    {% else %}
                                        {% set job_title = job_status.hire_title %}
                                    {% endif  %}
                                    {{ character_limiter(job_title, 35, '...') }}</span><br />
                                <a href="{{ base_url() }}jobs/view/{{ url_title( job_status.title ) }}/{{ job_id_encoded }}">View original job post</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="bg-change"></div>
            
            <div class="row ">
                <div style="padding: 3px 10px 5px;border: 1px solid #ccc;border-top: 0;border-radius: 0 0 4px 4px;" class="col-md-9 white-box remove-border-top ">
                    <div class="row"></div>
                    
                    <div style="margin-left: 28px;" class="row margin-top-2 bordered_week">
                       <div class="col-md-10 col-md-offset-1">
                           <div class="row">
                               <div style="padding-top: 5px; margin-right: -6px;" class="col-md-4 paid_table_title text-centered text-center">
                                   <b>{{ app_lang('text_job_contract_amount') }}</b>
                               </div>
                               <div style="padding-top: 5px; border-left: 2px solid #ededed; margin-right: 10px;" class="col-md-4 text-centered text-center">
                                   <b>{{ app_lang('text_job_contract_paid') }}</b>
                               </div>
                               <div style="width: 76px; padding-top: 5px; margin-left: 0px; padding-left: 83px; border-left: 2px solid rgb(237, 237, 237);" 
                                    class="col-md-4 text-centered text-center">
                                   <b>{{ app_lang('text_job_contract_remaining_amount') }} </b>
                               </div>
                           </div>
                       </div>
                       <div class="row margin-top-1">
                           <div class="col-md-10  col-md-offset-1">
                               <div class="row nav-bar">
                                   <div style="padding-bottom: 5px;" class="col-md-4 text-center nav-bar-item">
                                       <span class="bold_text">
                                           {{ job_status.hired_on }}
                                       </span>
                                   </div>
                                   <div style="padding-bottom: 5px;" class="col-md-4 text-center nav-bar-item">
                                       <span class="bold_text">
                                           {{ job_status.fixedpay_amount }}
                                       </span>
                                   </div>
                                   <div style="padding-bottom: 5px;" class="col-md-4  text-center nav-bar-item">
                                       <span class="bold_text">

                                           {% set remain_budget = job_status.bid_amount - job_status.fixedpay_amount %}

                                           {% if remain_budget < 0 %}
                                               {% set remain_budget = 0 %}
                                           {% endif  %}

                                           ${{ remain_budget }}
                                       </span>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
                
                    <div class="row margin-top-1"> </div>
                    
                    {# Load transaction line here... #}
                    {{ include("webview/jobs/partials/job-transactions.twig", {payments: payments, job_status: job_status}, with_context= false) }}
                    
                    <div class="row margin-top-5 margin-bottom-2">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="">
                                        <input style="float: left;margin-left: 0;" type="button" class="btn my_btn btn-cancel _job_add_milestone" 
                                               value="{{ app_lang('text_job_btn_add_milestone') }}" 
                                               id ="2" 
                                               data-buserid="{{ job_status.buser_id }}"
                                               data-fuserid="{{ job_status.fuser_id }}"
                                               data-jobid="{{ job_status.job_id }}" />
                                    </div>
                                    <input style="margin-left: 15px;" type="button" class="btn my_btn btn-cancel _job_btn_payment" 
                                           value="{{ app_lang('text_job_btn_payment') }}"  
                                           id ="2"
                                           data-buserid="{{ job_status.buser_id }}"
                                           data-fuserid="{{ job_status.fuser_id }}"
                                           data-jobid="{{ job_status.job_id }}"
                                           />
                                </div>
                                <div class="col-md-6">
                                    <div style="float: left; position: absolute;right: 143px;" class="cancel_content_btn">
                                        <input value="{{ app_lang('text_job_transaction_cancelled') }}" class="btn my_btn btn-cancel" type="button"> 
                                    </div>
                                    <div class="">
                                        {% if job_status.jobstatus == 1 %}
                                            <a href="{{ base_url() }}feedback/fixed_client?fmJob={{ job_id_encoded }}&fuser={{ fuser_id_encoded }}">
                                                <input style="float: right;margin-right: 0px;" type="button" class="btn my_btn btn-default_activv" value="{{ app_lang('text_job_btn_op_end_contract') }}" />
                                            </a>
                                        {% else %}
                                            <a href="{{ base_url() }}endhourlyfixed/fixed_client?fmJob={{ job_id_encoded }}&fuser={{ fuser_id_encoded }}">
                                                <input style="float: right;margin-right: 0px;" type="button" class="btn my_btn btn-default_activv" value="{{ app_lang('text_job_btn_op_end_contract') }}" />
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    {{ include('webview/modals/message-conversion-modal.twig', {'webuser_fname': job_status.webuser_fname, 'webuser_lname': job_status.webuser_lname , 'job_title': job_title }) }}
        
    {{ include("webview/modals/milestone-modal.twig") }}

    {{ include("webview/modals/payment-modal.twig") }}
    
{% endblock %}

{% block js %}
    
    {# this variable defines the asset/modular/pages file to load #}
    <script> var page = 'contract'; </script>
    
    <script data-main="{{ app_modular_js("winjob") }}" src="{{ app_modular_js("lib/require.dev.js") }}"></script>
    <script src="{{ site_url("assets/js/vendor/modernizr-2.8.3.min.js") }}"></script>
    {# <script src="{{ app_modular_js("pages/contract.js") }}"></script> #}
{% endblock %}
