{% extends "webview/layout/twig/layout.twig" %}

{% if job_status.hire_title is empty %}
    {% set job_title = job_status.title %}
{% else %}
    {% set job_title = job_status.hire_title %}
{% endif  %}
                                    
{% block title %}  {{ job_title }} - Winjob  {% endblock %}

{% block styles %}
    {{ parent() }}
    
    <link rel="stylesheet" href="{{ base_url("assets/css/pages/job-common.css") }}">
    <link rel="stylesheet" href="{{ base_url("assets/css/pages/contract.css") }}">
{% endblock %}

{% block content %}
    
    {% set job_id_encoded   = base64_encode( job_status.job_id ) %}
    {% set fuser_id_encoded = base64_encode( job_status.fuser_id ) %}
    {% set buser_id_encoded = base64_encode( job_status.buser_id ) %}
    {% set bid_id_encoded   = base64_encode( job_status.bid_id) %}
    
    {% set chat_receiver_id = job_status.webuser_id %}
    
    {% set _action = 'client' %}
    
    {% set _query  = 'fuser' %}
    {% set param_userid = fuser_id_encoded %}
    {% if app_user_data()['type'] == constant('FREELANCER') %}
        {% set _action = 'freelancer' %}
        {% set _query  = 'buser' %}
        {% set param_userid = buser_id_encoded %}
    {% endif %}
    
    {% if job_status.job_type == constant('FIXED_JOB_TYPE') %}
        {% set is_fixed_job = true %}
    {% else %}
        {% set is_fixed_job = false %}
    {% endif %}
    
    <section id="big_header" class="contract-section">
        <div class="container">
            <div class="row ">
                <div style="border: 1px solid #ccc;border-radius: 4px 4px 0 0px;margin: 0;" class="col-md-9 white-box black-box">
                    <div class="row">
                        <div class="date_head">
                            {% if job_status.contract_status == constant('JOB_ENDED') %}
                                <div class="col-md-6">{{ app_lang('text_job_ended_at')|format( app_date( job_status.end_date, ' M j, Y ') ) }}</div>
                            {% else %}
                                <div class="col-md-6">{{ app_lang('text_job_since')|format( app_date( job_status.start_date, ' M j, Y ') ) }}</div>
                            {% endif %}
                            <div class="col-md-6">
                                <div class="main_id">
                                    <span>{{ app_lang('text_job_contract_id')|format( job_status.contact_id ) }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="row">
                                <div style="margin-left: 20px;" class="col-md-4 col-md-offset-1 text-left">
                                    <div class="st_img hourly_client_view_st_img">
                                        <img src="{{ app_user_img( job_status.cropped_image ) }}" width="64" height="64" />
                                    </div>
                                </div>
                                <div style="margin-left: -24px;" class="col-md-7 text-left">
                                    <div class="hourly_name">
                                        <h5 style="margin-top: -4px;" class="free_name">{{ job_status.webuser_fname }} {{ job_status.webuser_lname }}</h5>
                                        <p class="free_name">
                                            {% if app_user_data()['type'] == constant('FREELANCER') %}
                                                {{ app_substr(job_status.webuser_company, constant('CONTRACT_JOB_COMPANY_NAME_MAX'), '...') }}
                                            {% else %}
                                                {{ app_substr(job_status.tagline, constant('CONTRACT_JOB_TITLE_MAX'), '...') }}
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 text-center gray-text">
                            <div style="margin-top: -8px;" class="status_bar">
                                {% if employer is defined and employer.isactive == 0 %}
                                    <label style="margin-top: -8px;" class="gray-text">
                                        {% set hold = "<span style='color:#ff0000;'>%s</span>" %}
                                        {{ app_lang('text_job_status_state')|format(hold)|format(app_lang('text_job_state_hold'))|raw }}
                                    </label>
                                {% elseif job_status.bid_status == 2  %}
                                    <label class="gray-text">{{ app_lang('text_job_status_state')|format(app_lang('text_job_state_paused')) }}</label>
                                {% elseif job_status.contract_status == 1 %}
                                    <label class="gray-text">{{ app_lang('text_job_status_state')|format(app_lang('text_job_state_ended')) }}</label>
                                {% else %}
                                    <label class="gray-text">{{ app_lang('text_job_status_state')|format(app_lang('text_job_state_actived')) }}</label>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-3 col-md-offset-1">
                            <div class="msg_btnx hour_btn">
                                <input type="button" class="btn-primary transparent-btn big_mass_button _job_btn_message" 
                                       value="{{ app_lang('text_job_btn_message') }}" 
                                       data-bid="{{ job_status.bid_id }}"
                                       data-uid="{{ chat_receiver_id }}"
                                       data-jid="{{ job_status.job_id }}" 
                                       />
                            </div>
                        </div>
                    </div>
                                       
                    <div class="col-md-12">
                        <div class="job_title client_job_title">
                            <span class="clint_view_j-title">
                                {{ app_substr(job_title, constant('CONTRACT_JOB_TITLE_MAX'), '...') }}</span><br />
                            <a href="{{ base_url() }}jobs/{{ url_title( job_status.title, 'dash', true ) }}/{{ job_id_encoded }}">{{ app_lang('text_job_original_view') }}</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="bg-change"></div>
            {% if job_status.contract_status == constant('JOB_ENDED') %}
                {{ include('webview/feedback/partials/job-feedbacks.twig') }}
            {% else %}
                {% if job_status.job_type == constant('FIXED_JOB_TYPE') %}
                    {{ include('webview/jobs/partials/job-nav-fixed-infos.twig') }}
                {% else %}
                    {{ include('webview/jobs/partials/job-nav-hourly-infos.twig') }}
                {% endif %}
            {% endif %}
            
        </div>
    </section>
    
    {{ include('webview/modals/message-conversion-modal.twig', {'webuser_fname': job_status.webuser_fname, 'webuser_lname': job_status.webuser_lname , 'job_title': job_title }) }}
     
    {# Only include modal for client contract page #}
    {% if ( app_user_data()['type'] == constant('EMPLOYER') ) and ( job_status.jobstatus != constant('JOB_ENDED') ) %}
        {{ include("webview/modals/milestone-modal.twig") }}
        {{ include("webview/modals/payment-modal.twig") }}
    {% endif %}
    
{% endblock %}

{% block js %}
    
    {# this variable defines the asset/modular/pages file to load #}
    <script> var page = 'contract'; </script>
    
    <script data-main="{{ app_modular_js("winjob") }}" src="{{ app_modular_js("lib/require.dev.js") }}"></script>
    <script src="{{ site_url("assets/js/vendor/modernizr-2.8.3.min.js") }}"></script>
    
{% endblock %}
