{% extends "webview/layout/twig/layout.twig" %}

{% block title %}  {{ app_lang('text_job_ended_contract') }} - Winjob  {% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ site_url("assets/css/bootstrap.min.css") }}">
    <link rel="stylesheet" href="{{ site_url("assets/css/font-awesome.min.css") }}">
    <link rel="stylesheet" href="{{ site_url("assets/css/fonts.css") }}">
    <link rel="stylesheet" href="{{ site_url("assets/css/header.css") }}">
    <link rel="stylesheet" href="{{ site_url("assets/css/croppic.css") }}">
    <link rel="stylesheet" href="{{ site_url("assets/css/footer.css") }}">
    <link rel="stylesheet" href="{{ site_url("assets/css/bootstrap-socil.css") }}">
    <link rel="stylesheet" href="{{ site_url("assets/css/normalize.css") }}">
    <link rel="stylesheet" href="{{ site_url("assets/css/style.css") }}">
    <link rel="stylesheet" href="{{ site_url("assets/css/bootstrap-social.css") }}">
    <link href="{{ site_url("assets/range/jquery-ui.css") }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ base_url("assets/css/star-rating.css") }}" media="all" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ base_url("assets/css/pages/job-common.css") }}">
    <link rel="stylesheet" href="{{ base_url("assets/css/pages/end-contract.css") }}">
{% endblock %}

{% block content %}
    {% set job_id_encoded   = base64_encode(contract.job_id) %}
    {% set user_id_encoded  = base64_encode(contract.webuser_id) %}
    {% set bid_id_encoded   = base64_encode(contract.bid_id) %}
    
    <div class="container">
        <section class="information_area custom-end_contact end_contract">
            {% set sender_id = app_user_data()['id'] %}
            {% if app_user_data()['type'] == constant('EMPLOYER') %}
                {% set action   = site_url('endhourlyfixed/end_contactfromclient') %}
                {% set redirect = site_url('jobs/past-hires') %}
            {% else %}
                {% set action   = site_url('endhourlyfixed/end_contactfromSubmit') %}
                {% set redirect = site_url('ended-jobs') %}
            {% endif %}
            <form class="form-horizontal custom_end_contact_from" method="post" id="end_contact_form" action="{{ action }}" data-redirect="{{ redirect }}">
                <input type='hidden' name='{{ csrf_name() }}' value='{{ csrf_token() }}'>
                <div id="action-reporting" class="row hide">
                    <div class="col-xs-12">
                        <div class="alert fade in alert-dismissable" style="margin-top:18px;">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                        </div>
                    </div>
                </div>

                <div class="row" id="end-contract-container-fields">
                    {# CONTRACT INFOS #}
                    <fieldset class="col-xs-12 col-md-6">
                        <legend> {{ app_lang('text_job_confirm_ending_contract') }} </legend>
                        <div class="row">
                            <div class="col-xs-12 contract-info">
                                <div class="row">
                                    <div class="">
                                        <img src="{{ app_user_img( contract.cropped_image ) }}" class="user-picture pull-left" width="64" height="64" />
                                        <div class="pull-left user-info">    
                                            <h3>
                                                <a href="{{ base_url("applicants?user_id=") ~ user_id_encoded ~ "&job_id=" ~ job_id_encoded ~ "&bid_id=" ~ bid_id_encoded }}">
                                                    <span class="blue-text">{{ contract.webuser_fname ~ ' ' ~ contract.webuser_lname }}</span>
                                                </a>
                                                {% if app_user_data()['type'] == constant('EMPLOYER') %}
                                                    {% if contract.tagline is not empty %}
                                                        <br>
                                                        <span class="user-country">{{ app_substr(contract.tagline, constant('LIST_JOB_TITLE_MAX'), '...') }}</span>
                                                    {% endif %}
                                                {% else %}
                                                    {% if contract.webuser_company is not empty %}
                                                        <br>
                                                        <span class="user-country">{{ app_substr(contract.webuser_company, constant('LIST_JOB_TITLE_MAX'), '...') }}</span>
                                                    {% endif %}
                                                {% endif %}
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 contract-info">
                                <div class="row">
                                    <span class="info-label col-xs-4">{{ app_lang('text_job_title') }}</span>
                                    <span class="info-value  col-xs-8">
                                        {% if contract.hire_title is not empty %}
                                            {{ contract.hire_title }}
                                        {% else %}
                                            {{ contract.title }}
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-12 contract-info">
                                <div class="row">
                                    <span class="info-label col-xs-4">{{ app_lang('text_job_contract_id')|format('') }}</span>
                                    <span class="info-value  col-xs-8">{{ contract.contact_id }}</span>
                                </div>
                            </div>
                            
                            {% if contract.job_type == constant('HOURLY_JOB_TYPE') %}
                                {{ include('webview/jobs/partials/end-hourly-contract.twig') }}
                            {% else %}
                                {{ include('webview/jobs/partials/end-fixed-contract.twig') }}
                            {% endif %}
                            
                            <div class="col-xs-12 contract-info">
                                <div class="row">
                                    <span class="info-label col-xs-4">{{ app_lang('text_job_contract_start_date') }}</span>
                                    <span class="info-value  col-xs-8">{{ contract.start_contract_date|date(' F j, Y ') }}</span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="clear clearfix"></div>
                    {# FEEDBACK INFO #}
                    <fieldset class="feedback-end-container col-xs-12 col-md-6">
                        <legend>{{ app_lang('text_job_feedback_infos') }}</legend>
                        <div class="row">
                            <div class="col-xs-12 contract-info feedback-info">
                                <div class="row">
                                    <span class="info-label col-xs-4">{{ app_lang('text_job_feedback_skills') }}</span>
                                    <span class="info-value  col-xs-8">
                                        <input id="skills" value="0" type="number" class="rating-fa rating-loading" name="skills" min="0" max="5" step="0.5" data-size="xs" >
                                    </span>
                                </div>

                                <div class="row">
                                    <span class="info-label col-xs-4">{{ app_lang('text_job_feedback_quality') }}</span>
                                    <span class="info-value  col-xs-8">
                                        <input id="quality" value="0" type="number" class="rating-fa rating-loading" name="quality" min="0" max="5" step="0.5" data-size="xs" >
                                    </span>
                                </div>

                                <div class="row">
                                    <span class="info-label col-xs-4">{{ app_lang('text_job_feedback_ability') }}</span>
                                    <span class="info-value  col-xs-8">
                                        <input id="ability" value="0" type="number" class="rating-fa rating-loading" name="ability" min="0" max="5" step="0.5" data-size="xs" >
                                    </span>
                                </div>

                                <div class="row">
                                    <span class="info-label col-xs-4">{{ app_lang('text_job_feedback_deadline') }}</span>
                                    <span class="info-value  col-xs-8">
                                        <input id="deadline" value="0" type="number" class="rating-fa rating-loading" name="deadline" min="0" max="5" step="0.5" data-size="xs" >
                                    </span>
                                </div>

                                <div class="row">
                                    <span class="info-label col-xs-4">{{ app_lang('text_job_feedback_communication') }}</span>
                                    <span class="info-value  col-xs-8">
                                        <input id="communication" value="0" type="number" class="rating-fa rating-loading" name="communication" min="0" max="5" step="0.5" data-size="xs" >
                                    </span>
                                </div>

                                <div class="row">
                                    <span class="info-label col-xs-4">{{ app_lang('text_job_feedback_score') }}</span>
                                    <span class="info-value feedback-score  col-xs-2 col-sm-2">
                                        <input id="score" value="0.00" type="text" name="score" readonly >
                                    </span>
                                </div>

                                <div class="row">
                                    <span class="info-label col-xs-4">{{ app_lang('text_job_feedback_comment') }}</span>
                                    <span class="info-value col-xs-7">
                                        <textarea  class="form-control" id="Comment" placeholder="" rows="6" name="Comment"></textarea>
                                        <span class="comment-error help-block"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="clear clearfix"></div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <span class="info-label col-xs-4">&nbsp;</span>
                            <div class="col-xs-8">
                                <button type="submit" class="btn btn-default btn-default_activv" id="end_contract_btn">
                                {% if contract.contract_status == 1 %}
                                    {{ app_lang("text_job_give_feedback") }}
                                {% else %}
                                    {{ app_lang("text_job_end_btn_confirmation") }}
                                {% endif %}
                                <i class="fa fa-circle-o-notch form-loader" style="display: none;"></i>
                                </button>
                                <button type="button" class="btn btn-default btn-cancel">{{ app_lang('text_job_transaction_cancelled') }}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <input name="job_id" type="hidden" id="job_id"  value="{{ contract.job_id }}"  />
                <input name="user_id" type="hidden" id="user_id"  value="{{ contract.fuser_id }}"  />
                <input name="clientid" type="hidden" id="clientid"  value="{{ contract.buser_id }}"  />
                <input name="sender_id" type="hidden" id="sender_id"  value="{{ sender_id }}"  />
                <input name="job_type" type="hidden" id="job_type"  value="{{ contract.job_type }}"  />
            </form>
        </section>
    </div>
{% endblock %}

{% block js %}
    
    {# this variable defines the asset/modular/pages file to load #}
    <script> var page = 'end-contract'; </script>
    
    <script data-main="{{ app_modular_js("winjob") }}" src="{{ app_modular_js("lib/require.dev.js") }}"></script>
    
{% endblock %}
