{% extends "webview/layout/twig/layout.twig" %}

{% block title %}  {{ app_lang('text_job_title_freelancer_endjobs') }} - Winjob  {% endblock %}

{% block styles %}
    {{ parent() }}
    
    <link rel="stylesheet" href="{{ base_url("assets/css/pages/job-common.css") }}">
    <link rel="stylesheet" href="{{ base_url("assets/css/pages/mystaff.css") }}">
{% endblock %}

{% block content %}
    <section id="big_header" class="my_staff">
	<div class="container">
	    <div class="row ">
	        <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-10 nopadding">
                            {{ include('webview/jobs/partials/job-freelancer-left-menu.twig', { endedjobs: true }, with_context = false) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
		   <div class="row">
                       
                        {# top message #}
                        {% set message       = app_lang('text_job_message_past_hired')|format(past_hire) %}
                        {% set empty_message = app_lang('text_job_message_no_past_hired') %}
                        {{ include('webview/jobs/partials/job-hirefeebar.twig', { number: past_hire, message: message , empty_message: empty_message }, with_context = false ) }}
                        
                        {% if acccept_jobList is defined %}
                            {% for job in acccept_jobList %}
                                
                                {# specific the current page #}
                                {% set page = 'endedjobs' %}
                                {% set freelancer = true %}
                                
                                {# chat receiver id #}
                                {% set chat_receiver_id      = job.buser_id %}
                                
                                {# specific job and page variable values #}
                                {% set job_id_encoded        = base64_encode(job.job_id) %}
                                {% set fuser_id_encoded      = base64_encode(job.fuser_id) %}
                                {% set buser_id_encoded      = base64_encode(job.buser_id) %}
                                {% set bid_id_encoded        = base64_encode(job.bid_id) %}
                                {# set profil_link           = base_url() ~ "applicants?user_id=" ~ fuser_id_encoded ~ "&job_id=" ~ job_id_encoded ~ "&bid_id=" ~ bid_id_encoded #}
                                
                                {% set job_detail_link       = base_url() ~ "contracts?fmJob=" ~ bid_id_encoded  %}
                                                                
                                {# Specifics partials #}
                                {% set specific_btn_template = 'webview/jobs/partials/job-hire-button.twig' %}
                                {% set options_dropdown      = 'webview/jobs/partials/job-hire-dropdown.twig' %}

                                {{ include('webview/jobs/partials/job-item.twig') }}
                             {% endfor %}
                        {% endif %}
                   </div>
                </div>
            </div>
        </div>
    </section>
                        
    {{ include('webview/modals/message-conversion-modal.twig') }}
{% endblock %}

{% block js %}
    
    {# this variable defines the asset/modular/pages file to load #}
    <script> var page = 'pasthire'; </script>
    
    <script data-main="{{ app_modular_js("winjob") }}" src="{{ app_modular_js("lib/require.dev.js") }}"></script>
    {# <script src="{{ app_modular_js("pages/pasthire.js") }}"></script> #}
{% endblock %}
