{% extends "webview/layout/twig/layout.twig" %}

{% block title %}  {{ app_lang('text_job_title_active_contracts') }} - Winjob  {% endblock %}

{% block styles %}
    {{ parent() }}
    
    <link rel="stylesheet" href="{{ base_url("assets/css/pages/job-common.css") }}">
    <link rel="stylesheet" href="{{ base_url("assets/css/pages/mystaff.css") }}">
{% endblock %}

{% block content %}
    <section id="big_header" class="my_staff">
	<div class="container">
	    <div class="row ">
	        <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-10 nopadding">
                            {{ include('webview/jobs/partials/job-client-contracts-menu.twig', { active: true }, with_context = false) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
		   <div class="row">
                        
                        {# top message #}
                        {% set message       = app_lang('text_job_message_active_contract')|format(nb_item) %}
                        {% set empty_message = app_lang('text_job_message_no_active_contract') %}
                        {{ include('webview/jobs/partials/job-hirefeebar.twig', { number: nb_item, message: message , empty_message: empty_message }, with_context = false ) }}
                       
                        {% if all_data is defined %}
                            {% for job in all_data %}
                                
                                {# specific the current page #}
                                {% set page = 'activecontracts' %}
                                
                                {# chat receiver id #}
                                {% set chat_receiver_id      = job.fuser_id %}
                                
                                {# specific job and page variable values #}
                                {% set job_id_encoded        = base64_encode(job.job_id) %}
                                {% set fuser_id_encoded      = base64_encode(job.fuser_id) %}
                                {% set bid_id_encoded        = base64_encode(job.bid_id) %}
                                
                                {# set profil_link           = base_url() ~ "applicants?user_id=" ~ fuser_id_encoded ~ "&job_id=" ~ job_id_encoded ~ "&bid_id=" ~ bid_id_encoded #}
                                
                                {% set job_detail_link   = base_url() ~ "contracts?fmJob=" ~ bid_id_encoded %}
                                {% set end_contract_link = base_url() ~ "contract/ended?fmJob=" ~ bid_id_encoded %}
                                
                                {# Specifics partials #}
                                {% set specific_btn_template = 'webview/jobs/partials/job-payment-buttons.twig' %}
                                {% set options_dropdown      = 'webview/jobs/partials/job-staff-dropdown.twig' %}

                                {# To display profil link pass profil_link variable to job-item named as profil_link #}
                                {{ include('webview/jobs/partials/job-item.twig') }}
                             {% endfor %}
                        {% endif %}
                   </div>
                </div>
            </div>
        </div>
    </section>
                        
    {{ include('webview/modals/message-conversion-modal.twig') }}
{% endblock %}

{% block js %}
    
    {# this variable defines the asset/modular/pages file to load #}
    <script> var page = 'my-staff'; </script>
    
    <script data-main="{{ app_modular_js("winjob") }}" src="{{ app_modular_js("lib/require.dev.js") }}"></script>
    
{% endblock %}
