{% extends "webview/layout/twig/layout.twig" %}
                                    
{% block title %}  My interviews - Winjob  {% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ site_url("assets/css/bootstrap.min.css") }}">
    <link rel="stylesheet" href="{{ site_url("assets/css/font-awesome.min.css") }}">
    <link rel="stylesheet" href="{{ site_url("assets/css/fonts.css") }}">
    <link rel="stylesheet" href="{{ site_url("assets/css/header.css") }}">
    <link rel="stylesheet" href="{{ site_url("assets/css/croppic.css") }}">
    <link rel="stylesheet" href="{{ site_url("assets/css/footer.css") }}">
    <link rel="stylesheet" href="{{ site_url("assets/css/bootstrap-socil.css") }}">
    <link rel="stylesheet" href="{{ site_url("assets/css/normalize.css") }}">
    <link rel="stylesheet" href="{{ site_url("assets/css/style.css") }}">
    <link rel="stylesheet" href="{{ base_url("assets/css/pages/Active_interview.css") }}">
    <link rel="stylesheet" href="{{ base_url("assets/css/pages/my-offers.css") }}">
{% endblock %}

{% block content %}
    {% set items = (display == 'archived' ? archived_interviews['data'] : interviews['data']) %}

    <div class="white-box-feed my-offers-container">
        <div class="row">
            <div class="col-md-12 bottom-blue-border padding-2">
                {% if display == 'active' %}
                    <span><b>Active Interviews </b></span>
                {% else %}
                    <a href='{{ site_url('my-interviews') }}'><b>Active Interviews </b></a>
                {% endif %}
                <span class="badge">{{ interviews['rows'] }}</span>

                <div class="archived-items">
                    {% if display == 'archived' %}
                        <span><b>Archived Interviews </b></span>
                    {% else %}
                        <a href='{{ site_url('my-interviews/archived') }}'><b>Archived Interviews </b></a>
                    {% endif %}
                    <span class="badge">{{ archived_interviews['rows'] }}</span>
                </div>
            </div>
            <div class="col-md-9 text-center bordered-alert margin-top" >
                {% if items|length != 0 %}
                    {% if items|length == 1 %}
                        {% set offers_text = (display == 'archived' ? " Archived Interview" : " Interview Available") %}
                    {% else %}
                        {% set offers_text = (display == 'archived' ? " Archived Interviews" : " Actives Interviews Available") %}
                    {% endif %}
                    {% set msg_offers = items|length ~ offers_text %}
                {% else %}
                    {% set msg_offers = (display == 'archived' ? "No Archived Interviews" : "No Pending Interview") %}
                {% endif %}
                {{ msg_offers }}
            </div>
        </div>

        {% if items|length != 0 %}
            <div class="row margin-top-15">
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <label>Applied Date</label>
                </div>

                <div class="col-md-10 col-sm-6 col-xs-6">
                    <label>Job Title</label>
                </div>
            </div>

            {% for offer in items %}
                <div class="row">
                    <div class="col-md-12 custom_bids_list_border">
                        <div class="row">
                            {% set local_datetime = app_convert_date_in_local(offer.bid_created, user_timezone) %}
                            <div class="col-md-2 col-sm-6 col-xs-6">{{ local_datetime.format(' M j, Y ') }}</div>
                            <div class="col-md-10 blue-text col-sm-6 col-xs-6">
                                <a href="{{ base_url('proposals/my-interview?fmJob=' ~ base64_encode(offer.job_id) ) }}"> 
                                 {{ offer.title }} 
                                 </a>
                            </div>
                        </div>

                         <div class="row margin-top-1">
                            <div class="col-md-2 col-xs-6 col-sm-6">
                                {{ app_time_elapsed_string( local_datetime.timestamp, user_timezone ) }}
                            </div>
                            <div class="col-md-10  col-xs-6 col-sm-6">
                                {% if display == 'archived' %}
                                    {% if offer.bid_reject == 1 %}
                                        Declined By Client
                                    {% elseif offer.withdrawn == 1 %}
                                        Declined By You
                                    {% elseif display == 'archived' %}
                                        Expired
                                    {% endif %}
                                {% else %}
                                    {{ offer.webuser_company }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block js %}
    
    {# this variable defines the asset/modular/pages file to load #}
    <script> var page = 'my-offers'; </script>
    
    <script data-main="{{ app_modular_js("winjob") }}" src="{{ app_modular_js("lib/require.dev.js") }}"></script>
    <script src="{{ site_url("assets/js/vendor/modernizr-2.8.3.min.js") }}"></script>
    
{% endblock %}