<div id="next_header">
    <div class="container">
        <div class="row"> 
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="menu">
                    <ul>  
                        <li><a href="{{ site_url("post-job/") }}" class="current">{{ app_lang('text_app_post_a_job') }}</a></li>      
                        <li><a href="{{ site_url("jobs/my-contracts") }}">{{ app_lang('text_app_my_contracts') }}</a></li>			
                        <li><a href="{{ site_url('jobs/work-diary') }}">{{ app_lang('text_app_work_history') }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>    
