<li>
    <a href="{{ site_url('jobs-home') }}">
        <i class="fa fa-briefcase" aria-hidden="true"></i> {{ app_lang('text_app_hire') }}
    </a>
</li>
<li>
    <a href="{{ site_url('jobs/my-freelancers') }}">  
        <i class="fa fa-users" aria-hidden="true"></i> {{ app_lang('text_app_my_freelancers') }}
    </a>
</li> 
<li>
    <a href="{{ site_url('billing-history') }}">
        <i class="fa fa-credit-card" aria-hidden="true"></i>
        {{ app_lang('text_app_clientpay') }}
    </a>
</li>
