<li>
    <a href="{{ site_url("messageboard") }}" 
       class="show_notification" 
        {% if notification %} {{ 'style="color: #e84c3d !important;"' }} {% endif %}>
        {% if notification %} 
           <span style="color: #e84c3d;padding: 0 5px;">{{ notification }}</span>
        {% endif %}
        <i class="fa fa-envelope-o " aria-hidden="true"></i>
    </a>
    {% if notification_details %}
        <div class="notification" style="display: none;" >
            {% for data in notification_details %}
                <p class="noti-block">
                    <a href="/messageboard?bid_id={{ base64_encode( data.bid_id ) }}">
                        <span class="name">
                            <img src="{{ app_user_img( data.cropped_image ) }}" >
                            {{ data.webuser_fname }} {{ data.webuser_lname }}
                        </span>
                        <span class="details">{{ app_substr( data.message_conversation, 80, '...') }}</span>
                    </a>
                </p>
            {% endfor %}
        </div>
    {% endif %}
</li>

<li>    
    <a href="javascript:void(0);" data-toggle="dropdown"> 
        <i class="fa fa-bell-o" aria-hidden="true" ></i> 
    </a>
    <div class="{% if notif_count > 0 %} {{ 'notif-alert' }} {% endif %}">
        <span>{% if notif_count > 0 %} {{ notif_count }} {% endif %}</span>
    </div>
    <ul class="dropdown-menu notif-dropdown header-dropdown-menu">
        <div class="triangle-with-shadow"></div>
        {% if notif_count > 0 %}
            <li class='notif-header'>
                <strong>{{ app_lang('text_app_notification_header_title') }}</strong>
                <a class="pull-right" href="{{ site_url('notification/read_all/' ~ app_user_data()['id']) }}">
                    {{ app_lang('text_app_notification_mark_all_read') }}
                </a>
            </li>
            <li class='notif-item'>&nbsp;</li>
            {% for notif in notifications %}
                <li class='notif-item'>
                    <a class="notif-item-link" href="{{ site_url("notification/check/{ notif.id_notification }") }}">{{ notif.description }}</a>
                    <span class="date-li">
                        {{ app_date(notif.date, 'M j') }} at {{ app_date(notif.date, 'g:i a') }}
                    </span>
                </li> 
            {% endfor %}
            <li class='notif-item-end text-center'>
                <a href=""> 
                    {{ app_lang('text_app_notification_see_all') }}
                </a>
            </li>
        {% else %}
            <li class='notif-item-header'><strong>{{ app_lang('text_app_notification_header_title') }}</strong></li>
            <li class='notif-item'> {{ app_lang('text_app_no_notification') }} </li>
        {% endif %}
    </ul>
</li>

<li>
    <a href="javascript:void(0);" data-toggle="dropdown"> 
        HI {{ app_user_data()['fname']|upper }} 
        <i class="fa fa-caret-down" aria-hidden="true" ></i>
    </a>
    <ul class="dropdown-menu header-dropdown-menu header-dropdown-menu-account">
        <div class="triangle-with-shadow"></div>
        {% if app_user_data()['type'] == '2' %}
            <li><a href="{{ site_url("profile-settings") }}">{{ app_lang('text_app_my_profile') }}</a></li>
        {% endif %}
        <li><a href="{{ site_url("profile-settings") }}">{{ app_lang('text_app_user_settings') }}</a></li>
        <li><a href="{{ site_url("logout/") }}">{{ app_lang('text_app_logout') }}</a></li>
    </ul>
</li>
