<div class="clear"> </div>
<section class="big_footer">
    <div class="container">
        <div class="row">
	    <div class="col-sm-6 col-md-6 col-lg-3">
	        <div class="footer-menu">  
                    <ul>
                       <li><p><b>Winjob</b></p></li>
                       <li><a href="{{ site_url("aboutus") }}">{{ app_lang('text_app_about_us') }}</a></li>
                       <li><a href="{{ site_url("contact") }}">{{ app_lang('text_app_contact_us') }}</a></li>
                       <li><a href="{{ site_url("press") }}">{{ app_lang('text_app_press') }}</a></li>
                       <li><a href="{{ site_url("enterprise-solution") }}">{{ app_lang('text_app_enterprise_solution') }}</a></li>
                       <li><a href="{{ site_url("feedback") }}">{{ app_lang('text_app_feedback') }}</a></li>
                   </ul>
		</div>
	    </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
	       <div class="footer-menu">  
                    <ul>
                        <li><p><b>{{ app_lang('text_app_contact_support') }}</b></p></li>
                        <li><a href="{{ site_url("employer-help") }}">{{ app_lang('text_app_help_and_support') }}</a></li>
                        <li><a href="{{ site_url("trust-safety") }}">{{ app_lang('text_app_trust_and_safety') }}</a></li>
                        <li><a href="{{ site_url("make-better") }}">{{ app_lang('text_app_help_make_winjob_better') }}</a></li>
                    </ul>
		 </div>
	    </div>
            <div class="clear1"></div>
	    <div class="col-sm-6 col-md-6 col-lg-3">
	      <div class="footer-menu">  
                    <ul>
                         <li><p><b>{{ app_lang('text_app_informations') }}</b></p></li>
                         <li><a href="{{ site_url("fees-charges") }}">{{ app_lang('text_app_fee_and_charges') }}</a></li>
                         <li><a href="{{ site_url("cancellation-refund") }}">{{ app_lang('text_app_cancellations_and_refunds') }}</a></li>
                         <li><a href="{{ site_url("terms") }}">{{ app_lang('text_app_terms_and_conditions') }}</a></li>
                         <li><a href="{{ site_url("privacy") }}">{{ app_lang('text_app_privacy_policy') }}</a></li>
                         <li><a href="{{ site_url("desktop-app") }}">{{ app_lang('text_app_desktop_app') }}</a></li>
                    </ul>
		 </div>
	    </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
	        <div class="footer-menu">  
		    <ul>
			<li><p><b>{{ app_lang('text_app_konwledge_base') }}</b></p></li>
			<li><a href="{{ site_url("how-to-join") }}">{{ app_lang('text_app_how_to_join_us') }}</a></li>
			<li><a href="{{ site_url("create-ticket") }}">{{ app_lang('text_app_how_to_create_support_tickets') }}</a></li>
			<li><a href="{{ site_url("getwork-done") }}">{{ app_lang('text_app_how_to_get_your_work_done') }}</a></li>
			<li><a href="{{ site_url("add-fund") }}">{{ app_lang('text_app_how_to_add_fund') }}</a></li>
	            </ul>
		 </div>
	    </div>
        </div>
    </div>
                         
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6"><h1><b>WINJOB</b></h1></div>
                <div class="col-sm-6 col-md-6"><p>© 2016 WINJOB</p></div>
            </div>
        </div>
    </div>
</section>