<div id="next_header">
    <div class="container">
        <div class="row"> 
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="menu">
                    <ul>  
                        <li><a class="first-menu" href="{{ site_url('find-jobs') }}" class="current"> {{ app_lang('text_app_find_jobs') }}</a></li>      
                        <li><a href="{{ app_profile_url() }}"> {{ app_lang('text_app_my_profile') }}</a></li>			
                        <li><a href="{{ site_url('jobs/my-bids') }}"> {{ app_lang('text_app_my_bid_list') }}</a></li>
                        <li><a href="{{ site_url('withdraw') }}"> {{ app_lang('text_app_withdraw') }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>