<li>
   <a href="{{ site_url('find-jobs') }}">
       <i class="fa fa-briefcase" aria-hidden="true"></i> {{ app_lang('text_app_find_job') }}
   </a>
</li>
<li>
    <a href="{{ site_url('win-jobs') }}">  
        <img src="{{ base_url('assets/img/version1/cup.png') }}"  style="height:20px; width:10px; margin-top:0px;"/> 
        {{ app_lang('text_app_win_jobs') }} 
    </a>
</li> 
<li>
    <a href="{{ site_url('pay/freelancerbalance') }}">
        <i class="fa fa-cc-discover" aria-hidden="true"></i>  
        {{ app_lang('text_app_balance') }} 
    </a>
</li>
