<li>
   <a href="{{ site_url('find-jobs') }}">
       <i class="fa fa-briefcase" aria-hidden="true"></i>
       {{ app_lang('text_app_find_job') }}
   </a>
</li>
<li>
    <a href="{{ site_url('win-jobs') }}">  
        <i class="fa fa-trophy" aria-hidden="true"></i>
        {{ app_lang('text_app_win_jobs') }} 
    </a>
</li> 
<li>
    <a href="{{ site_url('my-balance') }}">
        <i class="fa fa-credit-card" aria-hidden="true"></i>
        {{ app_lang('text_app_balance') }} 
    </a>
</li>
