{# 
  This partial can be customized by several variables : 
     -> webuser_fname  
     -> webuser_lname
     -> job_title
  
  and it can be include in another view like :
    
{{ include(parital_path, {'webuser_fname': value, 'webuser_lname': value , 'job_title': value }) }}

#}
<div id="message_convertionModal" class="modal custom_modal">
    <div class="modal-dialog cccc_massage_box">
        <div style="padding: 30px;padding-bottom: 60px;" class="modal-content">
            <button type="button" class="close _js_modal_close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{{ app_lang('text_job_modal_message') }}</h4>
            <div class="modal-header">
                <div class="chat-screen">
                    <div class="chat-details-topbar">
                        <h3 class="chat_user_name">
                            {% if webuser_fname is defined %}
                            {{ webuser_fname }}
                            {% endif %}
                            
                            {% if webuser_lname is defined %}
                            &nbsp;{{ webuser_lname }}
                            {% endif %}
                        </h3>
                        <h5 class="chat_job_title">
                            {% if job_title is defined %}
                            {{ app_substr(job_title, constant('CONTRACT_JOB_TITLE_MAX'), '...') }}
                            {% endif %}
                        </h5>
                    </div>
                </div>
            </div>
        <div class="modal-body">
            <div class="message_lists chat-details form-group" ></div>
            <form style="position:relative;" name="message" action="" method="post" id="conversion_message">
                <textarea name="usermsg"  id="usermsg"></textarea>
                <div style="position: absolute;right: 23%;font-size: 26px;top: 35%;color:#a2a2a2;transform: rotate(90deg);" class="attach_icon">
                    <i style="cursor: pointer;" class="fa fa-paperclip" aria-hidden="true"></i>
                </div>
                
                <input name="sender_id" type="hidden" id="sender_id"  value="{{ app_user_data()['id'] }}"  />
                <input name="submitmsg" type="submit" id="submitmsg" value="{{ app_lang('text_job_modal_btn_send') }}" />
             </form>
        </div>
    </div>
 </div>
</div>