<div class="col-xs-12 contract-info">
    <div class="row">
        <span class="info-label col-xs-4">{{ app_lang('text_job_contract_budget') }}</span>
        <span class="info-value  col-xs-8">${{ contract.hired_on }}</span>
    </div>
</div>
<div class="col-xs-12 contract-info">
    <div class="row">
        <span class="info-label col-xs-4">{{ app_lang('text_job_contract_paid') }}</span>
        <span class="info-value  col-xs-8">${{ total_paid }}</span>
    </div>
</div>

{% if app_user_data()['type'] == constant('EMPLOYER')%}
    {% if contract.contract_status != 1 %}
    <div class="col-xs-12 contract-info">
        <div class="row">
            <span class="info-label col-xs-4">{{ app_lang('text_job_contract_pay') }}</span>
            <span class="normal_normal_font  col-xs-8">
                <span class="custom_radio">
                  <label><input type="radio" name="optradio" value="0" >{{ app_lang('text_job_contract_paid_nothing') }}</label>
                  <br>
                  <label>
                        <input  type="radio" name="optradio" value="2">{{ app_lang('text_job_contract_paid_other_amount') }}
                  </label>
                  <span id="end-pay-container" class="hide">
                        <b class="pull-left devise">$</b><input class="form-control pull-left custom_input_text" type="text" name="endpay"> 
                  </span>
                  <span class="clear cleafix"></span>
                </span>
            </span>
        </div>
    </div>
    {% endif %}
{% endif %}