{% set title            = job.hire_title %}
{% set username         = job.webuser_fname ~ ' ' ~ job.webuser_lname %}
                
<div class="row margintop-2 ms_white_box {{ page }} {{ job.job_type }}">
    <div class="col-md-12 freelancer-job white-box" style="padding: 20px">
        <div class="row">
            
            {{ include('webview/jobs/partials/job-user-info.twig') }}
            
            {{ include('webview/jobs/partials/job-payment-info.twig') }}
            
            <div class="col-md-4">
                <div class="row">
                    <div class="ms_hr_massage_butt">
                        <div class="mystaff_msg_btnx hour_btn message_btn ">
                            <input type="button" 
                                   class="btn btn-primary form-btn _job_btn_message"
                                   data-bid="{{ job.bid_id }}"
                                   data-uid="{{ chat_receiver_id }}"
                                   data-jid="{{ job.job_id }}"
                                   data-title="{{ title }}"
                                   data-uname="{{ username }}"
                                   value="{{ app_lang('text_job_btn_message') }}">
                        </div>
                    </div>
                    
                    {% if specific_btn_template is defined %}    
                        {{ include( specific_btn_template ) }}
                    {% endif %}
                    
                    {% if options_dropdown is defined %}
                    <div class="ms_hr_drop_butt">
                        <div class="dropdown hour_btnx dropdown_btn">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul style="left: -156px;" class="dropdown-menu">
                                {{ include( options_dropdown ) }}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div> 
        </div>
        <div class="row">
            <div class="job_detais col-md-12">
                {# profile link #}
                {% if profil_link is defined %}
                 <a href="{{ profil_link }}" 
                    style="font-size: 14px;color: #3DB0DD;">{{ app_lang('text_job_btn_op_view_profile') }}
                 </a>
                 <strong>-</strong>
                {% endif %}
                
                {# job detail link #}
                {% if job_detail_link is defined %}
                <a href="{{ job_detail_link }}">  {{ app_lang('text_job_link_detail') }} </a>  
                <strong>-</strong>
                {% endif %}
                
                {# job hire title #}
                <span><b>{{ app_substr(title, constant('LIST_JOB_TITLE_MAX'), '...' ) }}</b></span>
            </div>
        </div>
    </div>
</div>