{% if job.job_type == 'hourly' %}
    <div class="ms_hr_work_diary">
        <div class="mystaff_work_diary hour_btn work_diary_btn">
            <a href="{{ base_url() }}jobs/work-diary?fmJob={{ bid_id_encoded }}">
                <input style="margin-right: -1px;" type="button" class="btn btn-primary form-btn" value="{{ app_lang('text_job_btn_work_diary') }}" />
            </a>
        </div>
    </div>
{% else %}
    {% if not freelancer %}
    <div class="ms_pay_butt">
        <div class="mystaff_pay_btnx payment_btn">
            <a href="{{ job_detail_link }}">
                <input type="button" class="btn btn-primary form-btn my-btn"  value="{{ app_lang('text_job_btn_payment') }}"/>
            </a>
        </div>
    </div>
    {% endif %}
{% endif %}