{% if job.job_type == "fixed" %}
<li><a href="{{ job_detail_link }}">{{ app_lang('text_job_btn_op_give_milestone') }}</a></li>
{% endif %}
<li><a href="{{ job_detail_link }}">{{ app_lang('text_job_btn_op_view_contract') }}</a></li>
<li><a href="{{ profile_link }}">{{ app_lang('text_job_btn_op_view_profile') }}</a></li>
<li><a href="{{ end_contract_link }}">{{ app_lang('text_job_btn_op_end_contract') }}</a></li>