{% extends "webview/layout/twig/layout.twig" %}

{% block title %}  {{ app_lang('text_job_title_applicant') }} - Winjob  {% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ site_url("assets/css/bootstrap.min.css") }}">
    <link rel="stylesheet" href="{{ site_url("assets/css/font-awesome.min.css") }}">
    <link rel="stylesheet" href="{{ site_url("assets/css/fonts.css") }}">
    <link rel="stylesheet" href="{{ site_url("assets/css/header.css") }}">
    <link rel="stylesheet" href="{{ site_url("assets/css/croppic.css") }}">
    <link rel="stylesheet" href="{{ site_url("assets/css/footer.css") }}">
    <link rel="stylesheet" href="{{ site_url("assets/css/bootstrap-socil.css") }}">
    <link rel="stylesheet" href="{{ site_url("assets/css/normalize.css") }}">
    <link rel="stylesheet" href="{{ site_url("assets/css/style.css") }}">
    <link rel="stylesheet" href="{{ base_url("assets/css/pages/applicant.css") }}">
{% endblock %}

{% block content %}
    <div class="row" id="interview-content">
        {# The two following partials should be the header for all type of devices (mobile, tablette, and others. #}
        {% include 'webview/twig/partials/header-applicant.twig' %}
        
        {% include 'webview/twig/partials/header-applicant-actions.twig' %}
    </div>
        
    <div class="row" id="interview">
        <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="header-border-x">
                <div class="col-xs-12 chat-screen">
                    <div class="chat-details-topbar">
                        <h3>{{ fname }}  {{ lname }}</h3>
                        <h5>{{ app_substr(job_info['title'], constant('CONTRACT_JOB_TITLE_MAX'), '...' )|capitalize }}</h5>
                    </div>
                    <div class="chat-details">
                        <ul id="scroll-ul">
                            {% if conversation['data'] is not empty %}
                                
                                {% set group_time    = false                %}
                                {% set current_date  = ''                   %}
                                {% set display_date  = ''                   %}
                                
                                {% for chat_data in conversation['data'] %}
                                    {% set chat_datetime = current_user_datetime(chat_data.conversation_date, user_timezone  ) %}
                                    
                                    {% if display_date != chat_datetime.format('Y-m-d') %}
                                        {% set current_date  = crt_user_time.copy().timestamp( chat_datetime.getTimestamp() )  %}
                                        {% set display_date  = current_date.format('Y-m-d')  %}
                                        {% set group_time    = true %}
                                    {% else %}
                                        {% set group_time   = false %}
                                    {% endif %}
                                    
                                    {% if group_time %}        
                                    <li>
                                        <span class="group-date">
                                            {% if current_date.diffInDays( crt_user_time ) == 0 %}
                                                {{ app_lang('text_job_chat_today') }}
                                            {% else %}
                                                {{ date(current_date.timestamp, user_timezone)|format("l, F j, Y") }}
                                            {% endif %}
                                        </span>
                                    </li>
                                    {% endif %}
                                    
                                    {% set chat_time   = chat_datetime.format('g:i A') %}
                                    {% set chat_images = images[ chat_data.id ] %}
                                    {% include 'webview/twig/partials/message-item.twig' with {'image': chat_data.cropped_image, 'fname': chat_data.webuser_fname, 'lname': chat_data.webuser_lname, 'time': chat_time, 'message': chat_data.message_conversation, 'images': chat_images } %}
                                    
                                {% endfor %}
                            {% else %}
                                <li class="no-messages" >{{ app_lang('text_job_chat_no_message') }}</li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="chat-bar">
                        <form id="chat_form" enctype="multipart/form-data">
                            <input type="hidden" id="bid_id" name="bid_id" value="{{ job_info['bid_id'] }}">
                            <input type="hidden" name="job_id" id="job_id" value="{{ job_info['job_id'] }}">
                            <input type="hidden" name="user_id" id="user_id" value="{{ job_info['user_id'] }}">
                            <input type="hidden" name="receiver_id" id="receiver_id" value="{{ freelancer_id }}">
                            <input type="hidden" name="timezone" id="timezone" value="{{ user_timezone }}">
                            
                            <div class="row">
                                <div class="col-xs-10">
                                    <div class="expandingArea">
                                        <pre><span></span><br></pre>
                                        <textarea name="chat_message"></textarea>
                                    </div>
                                    <div class="chat-thumbnail-wrapper">
                                        <input type="hidden" name="removed_files" value="" id="removed_files">
                                        <input type="file" name="fileupload[]" class="hidden" id="fileupload" multiple="multiple">
                                        <div class="attach_icon">
                                            <i class="fa fa-paperclip" aria-hidden="true"></i>
                                            <div class="uploaded_files"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-2 text-center chat-submit-container">
                                    <a href="javascript:void(0);" id="chat-submit">
                                        <i class="fa fa-paper-plane"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-10">
                                <span id="msg_container" class="alert hide"></span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="clearfix clear-both"></div>
            </div>
            <div class="col-md-12 col-sm-12 white-box bordered_cl">
                <div class="cover_box">
                    <p class="cover-letter">{{ app_lang('text_job_applicant_cover_letter') }}<br/></p>
                    <p class="cover-letter-text">
                        {{ job_info['cover_latter'] }}
                    </p>
                    <br/>
                </div>
                {% if f_attachments %}
                    <div class="col-md-9">
                        <label class="lab-details">{{ app_lang('text_job_applicant_attachments') }}</label>
                    </div>
                    <div class="col-md-12 text-justify page-label div-details" style="margin-left: 23px;">
                        {% for attachment in f_attachments %}
                            <a href="{{ site_url('jobs/download?dir=' ~ f_id ~ '/' ~ f_attachments[0]['tid'] ~ '&file=') }}{{ attachment|replace({'"': ''}) }}">{{ attachment|replace({'"': ''}) }}</a><br>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 buttonsidefoure">
            {{ include('webview/twig/partials/applicant-work-history.twig') }}            
        </div>
    </div>
{% endblock %}

{% block js %}
    
    {# this variable defines the asset/modular/pages file to load #}
    <script> var page = 'applicant'; </script>
    
    <script data-main="{{ app_modular_js("winjob") }}" src="{{ app_modular_js("lib/require.dev.js") }}"></script>
    
{% endblock %}